.kitchenDiv {
    background-image: url('./images/Kitchen3.jpg');
    padding-bottom: 70px;
}

.addFoodDiv {
    background-image: url('./images/Kitchen copy.jpg');
    padding-bottom: 70px;
}

#bottomDiv {
    background-image: url('./images/Kitchen2.jpg')
}

.kitchenNavDiv {
    background-color: #43a047;
    padding: 8px 5px 8px 5px;
}

.kitchenHeader {
    padding-left: 62px;
    font-size: 26px;
}

.logout {
    float: right;
}

.foodItem {
    outline: .25px solid black;
    background-color: beige;
}

.foodItemDialog {
    width: 250px;
    height: 500px;
    text-align: center;
}

.kitchenItem {
    padding-top: 20px;
    padding: 5px;
    margin: 10px;
    width: 50px;
    float: left;
    text-align: center
}

.itemImg {
    width: 100px;
    height: 100px;
}

.smallItemImg {
    width: 40px;
    height: 40px;
}
.tinyItemImg {
    width: 30px;
    height: 30px;
}


.buttonDiv {
    position: fixed;
    bottom: 0;
    width: 80%;
    opacity: .95;
}
.buttonDivDialog {
    padding-top: 75px;
}

.bottomBtn {
    height: 60px;
    outline: .5px beige;
}


.foodName {
    font-size: 12px;
    text-align: center
}

.addFoodForm {
    width: 170px;
    height: 350px;
    padding: 40px 70px 50px 50px;
    margin-top: 50px;
    background-color: beige;
    opacity: .95;
}

.input {
    margin: 5px;
}
.select {
    margin: 5px;
    width: 100%
}


h1 {
    text-align: center
}

.panelContent {
    display: none;
}

.expiringDiv {
    width: 300px;
    height: 300px;
    padding-bottom: 100px;
    background-color: beige
}

.expiringFood {
    float: left;
    position: relative;
    margin: 10px;
}

.expiringButtons {
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 50px;
    float: left;
}

#title {
    background-color: #f9a825;
}

.panel {
    background-color: beige;
}