.kitchenDiv {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/52/47/8557946cc87cfc2.jpg');
}

.logout {
    float: right;
}

.foodItem {
    outline: .25px solid black;
}

.kitchenItem {
    padding: 3px;
    margin: 10px;
    width: 40px;
    border-radius: 50%;
    border-collapse: separate; 
    float: left;
}

/* button {
    border: .25px solid black;
    width: 50%;
    height: 50px;
    font-size: 20px;
} */

.itemImg {
    width: 100px;
    height: 100px;
}

.smallItemImg {
    width: 50px;
    height: 50px;
}
.tinyItemImg {
    width: 30px;
    height: 30px;
}

.foodItemDialog {
    text-align: center;
}

.buttonDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
}