.kitchenDiv {
    background-image: url('https://www.eatthis.com/content/uploads//media/images/ext/781897626/veggies-fruit.jpg');
    color: beige;
}
#bottomDiv {
    background-image: url('https://www.eatthis.com/content/uploads//media/images/ext/781897626/veggies-fruit.jpg')
}

.logout {
    float: right;
}

.foodItem {
    outline: .25px solid black;
}

.kitchenItem {
    padding-top: 20px;
    padding: 5px;
    margin: 10px;
    width: 50px;
    float: left;
    text-align: center
}

.itemImg {
    width: 100px;
    height: 100px;
}

.smallItemImg {
    width: 40px;
    height: 40px;
}
.tinyItemImg {
    width: 30px;
    height: 30px;
}

.foodItemDialog {
    text-align: center;
}

.buttonDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.panel {
    background-color: aquamarine
}

.foodName {
    font-size: 12px;
    text-align: center
}

.addFoodForm {
    background-color: beige
}

.topNavBtn {
    width: 40px;
    height: 40px;
}

h1 {
    text-align: center
}

.panelContent {
    display: none;
}