 .ingredientDiv {
    text-align: center;
    padding-left: 35px;
  }

.ingredientItem {
    border: .5px solid black;
    font-size: 12px;
    border-radius: 30%;
    width: 80px;
    height: 70px;
    float: left;
    padding: 4px;
    padding-top: 20px;
    margin: 8px;
    text-align: center
}

.foodItem:hover {
    background-color: beige;
}

.resultDiv {
    outline: .25px solid black;
    text-align: center
}


button {
    border: .25px solid black;
    width: 50%;
    height: 50px;
    font-size: 20px;
}

.plusBtn {
    border: .25px solid black;
    width: 10px;
    height: 10px;
    font-size: 20px;
}

.buttonDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    text-align: center; 
}

#selectedRecipe {
    text-align: center
}

.tinyItemImg {
    width: 30px;
    height: 30px;
}
